In [22]:
import random
import pandas as pd
import json
from datetime import datetime, timedelta

wojewodztwa = ["dolnośląskie", "kujawsko-pomorskie", "lubelskie", "lubuskie", "łódzkie", "małopolskie", "mazowieckie", "opolskie", "podkarpackie", "podlaskie", "pomorskie", "śląskie", "świętokrzyskie", "warmińsko-mazurskie", "wielkopolskie", "zachodniopomorskie"]

data = []

record_count = 0
start_date = datetime.now()

for _ in range(60000):
    days_ago = 14 - (record_count // 2000)
    base_time = start_date - timedelta(days=days_ago)
    t = base_time.replace(hour=0, minute=0, second=0, microsecond=0) + timedelta(seconds=random.randint(0, 86399))

    person_data = {
        "time": str(t),
        "country": "Poland",
        "province": random.choice(wojewodztwa),
        "age": random.randint(18, 100),
        "gender": random.choice(["male", "female"]),
        "covid_positive": random.choice([0, 1]),
        "fever": random.choice([True, False]),
        "cough": random.choice([True, False]),
        "shortness_of_breath": random.choice([True, False]),
        "muscle_pain": random.choice([True, False]),
        "loss_of_taste_or_smell": random.choice([True, False]),
        "sore_throat": random.choice([True, False]),
        "fatigue": random.choice([True, False]),
        "headache": random.choice([True, False]),
        "chills": random.choice([True, False]),
        "diarrhea": random.choice([True, False]),
        "vaccinated": random.choice([True, False]),
        "temperature": round(random.uniform(35.5, 40.0), 1),
        "blood_pressure": random.randint(90, 150),
        "heart_rate": random.randint(60, 100),
        "oxygen_saturation": random.randint(90, 100)
    }
    # ZMIENNA DEATH MOZE PRZYJAC 1 TYLKO WTEDY KIEDY OSOBA ZACHOROWALA NA COVIDA (covid_positive = 1)
    person_data["death"] = 1 if random.choice([0, 1]) == 1 and person_data["covid_positive"] == 1 else 0
    # ZMIENNA RECOVERED MOZE PRZYJAC 1 TYLKO WTEDY KIEDY OSOBA ZACHOROWALA NA COVIDA (covid_positive = 1) I NIE ZMARLA (death = 0)
    person_data["recovered"] = random.choice([0, 1]) if person_data["covid_positive"] == 1 and person_data["death"] == 0 else 0
    data.append(person_data)
    
    record_count += 1

df = pd.DataFrame(data)

# Konwersja kolumny 'time' na datetime
df['time'] = pd.to_datetime(df['time'])

# Grupowanie według daty i liczenie przypadków covid pozytywnych
covid_cases_per_day = df[df['covid_positive'] == 1].groupby(df['time'].dt.date).size()
covid_cases_per_day = covid_cases_per_day.reset_index(name='covid_cases')

print(covid_cases_per_day)

          time  covid_cases
0   2024-05-13          996
1   2024-05-14          992
2   2024-05-15         1036
3   2024-05-16          999
4   2024-05-17         1031
5   2024-05-18          990
6   2024-05-19         1026
7   2024-05-20         1019
8   2024-05-21          974
9   2024-05-22          990
10  2024-05-23          992
11  2024-05-24          967
12  2024-05-25         1037
13  2024-05-26          988
14  2024-05-27         1012
15  2024-05-28          991
16  2024-05-29          970
17  2024-05-30          989
18  2024-05-31         1006
19  2024-06-01          974
20  2024-06-02          986
21  2024-06-03         1001
22  2024-06-04          993
23  2024-06-05          967
24  2024-06-06         1011
25  2024-06-07          948
26  2024-06-08         1000
27  2024-06-09         1029
28  2024-06-10          997
29  2024-06-11         1018

In [17]:
df = pd.DataFrame(data)
df

,time,country,province,age,gender,covid_positive,fever,cough,shortness_of_breath,muscle_pain,...,headache,chills,diarrhea,vaccinated,temperature,blood_pressure,heart_rate,oxygen_saturation,death,recovered
0,2024-05-13 07:55:54,Poland,zachodniopomorskie,58,male,1,True,True,False,True,...,False,True,False,True,36.7,130,69,95,1,0
1,2024-05-13 19:19:23,Poland,łódzkie,76,female,0,False,False,True,True,...,False,True,True,False,37.8,110,78,92,0,0
2,2024-05-13 09:15:20,Poland,dolnośląskie,85,male,1,True,False,False,False,...,False,False,True,False,37.1,121,96,95,0,1
3,2024-05-13 04:10:12,Poland,mazowieckie,33,female,0,False,False,True,False,...,False,True,True,False,38.6,96,89,100,0,0
4,2024-05-13 13:20:26,Poland,lubuskie,20,male,1,True,False,True,False,...,False,False,True,True,39.6,98,94,97,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,2024-05-13 21:39:04,Poland,warmińsko-mazurskie,62,female,1,True,False,True,False,...,True,False,False,False,39.5,101,69,97,1,0
5996,2024-05-13 00:27:42,Poland,dolnośląskie,39,male,0,True,False,False,False,...,False,False,False,False,36.0,107,84,91,0,0
5997,2024-05-13 20:21:03,Poland,podlaskie,24,male,0,True,True,False,True,...,True,True,False,False,36.2,90,74,92,0,0
5998,2024-05-13 18:18:21,Poland,małopolskie,42,male,0,False,False,False,False,...,True,False,False,False,36.3,133,93,100,0,0
5999,2024-05-13 21:17:13,Poland,kujawsko-pomorskie,39,female,0,True,False,True,False,...,False,True,False,True,39.1,142,75,98,0,0

In [18]:
import datetime

df['time'] = pd.to_datetime(df['time'])
covid_cases_per_day = df[df['covid_positive'] == 1].groupby(df['time'].dt.date).size()
covid_cases_per_day = covid_cases_per_day.reset_index(name='covid_cases')

print (covid_cases_per_day)

         time  covid_cases
0  2024-05-13         2973

In [18]:
#IlOSC AKTYWNYCH, SMIERCI, WYZDROWIEN NA WOJEWODZTWA

df_c = df.loc[df['covid_positive'] == 1]
df_active = df_c[(df_c['recovered'] == 0) & (df_c['death'] == 0)]
active_cases_by_province = df_active.groupby('province').size()
recovered_by_province = df_c[df_c['recovered'] == 1].groupby('province').size()
deaths_by_province = df_c[df_c['death'] == 1].groupby('province').size()
print(active_cases_by_province)
print(recovered_by_province)
print(deaths_by_province)

province
dolnośląskie           2
lubelskie              3
lubuskie               2
małopolskie            1
podlaskie              1
pomorskie              1
warmińsko-mazurskie    1
świętokrzyskie         3
dtype: int64
province
lubuskie               4
mazowieckie            2
opolskie               1
pomorskie              1
warmińsko-mazurskie    2
śląskie                1
dtype: int64
province
kujawsko-pomorskie    1
lubelskie             2
lubuskie              2
mazowieckie           1
małopolskie           4
opolskie              1
podkarpackie          2
podlaskie             2
pomorskie             3
zachodniopomorskie    4
łódzkie               1
dtype: int64

In [25]:
result = pd.DataFrame({
    'active_cases': active_cases_by_province,
    'recovered': recovered_by_province,
    'deaths': deaths_by_province
}).fillna(0).astype(int).reset_index()

provinces = result['province'].tolist()
active = result['active_cases'].tolist()
recovered = result['recovered'].tolist()
deaths = result['deaths'].tolist()

['dolnośląskie', 'kujawsko-pomorskie', 'lubelskie', 'lubuskie', 'mazowieckie', 'małopolskie', 'opolskie', 'podkarpackie', 'podlaskie', 'pomorskie', 'warmińsko-mazurskie', 'zachodniopomorskie', 'łódzkie', 'śląskie', 'świętokrzyskie']

In [22]:
import json

{
    "dolno\u015bl\u0105skie": {
        "active_cases": 2,
        "recovered": 0,
        "deaths": 0
    },
    "kujawsko-pomorskie": {
        "active_cases": 0,
        "recovered": 0,
        "deaths": 1
    },
    "lubelskie": {
        "active_cases": 3,
        "recovered": 0,
        "deaths": 2
    },
    "lubuskie": {
        "active_cases": 2,
        "recovered": 4,
        "deaths": 2
    },
    "mazowieckie": {
        "active_cases": 0,
        "recovered": 2,
        "deaths": 1
    },
    "ma\u0142opolskie": {
        "active_cases": 1,
        "recovered": 0,
        "deaths": 4
    },
    "opolskie": {
        "active_cases": 0,
        "recovered": 1,
        "deaths": 1
    },
    "podkarpackie": {
        "active_cases": 0,
        "recovered": 0,
        "deaths": 2
    },
    "podlaskie": {
        "active_cases": 1,
        "recovered": 0,
        "deaths": 2
    },
    "pomorskie": {
        "active_cases": 1,
        "recovered": 1,
        "deaths": 3
    },
    "warmi\u0144sko-mazurskie": {
        "active_cases": 1,
        "recovered": 2,
        "deaths": 0
    },
    "zachodniopomorskie": {
        "active_cases": 0,
        "recovered": 0,
        "deaths": 4
    },
    "\u0142\u00f3dzkie": {
        "active_cases": 0,
        "recovered": 0,
        "deaths": 1
    },
    "\u015bl\u0105skie": {
        "active_cases": 0,
        "recovered": 1,
        "deaths": 0
    },
    "\u015bwi\u0119tokrzyskie": {
        "active_cases": 3,
        "recovered": 0,
        "deaths": 0
    }
}

In [4]:
# ILOSC ZAKAZONYCH, SMIERCI, WYZDROWIALYCH
df_infected = df.loc[df['covid_positive'] == 1]
num_infected = len(df_infected)

num_recovered = len(df_infected.loc[df_infected['recovered'] == 1])
num_death = len(df_infected.loc[df_infected['death'] == 1])
num_active = num_infected - num_recovered - num_death

labels = ['Active', 'Death', 'Recovered']
sizes = [num_active, num_death, num_recovered]

print(f"Wyzdrowiałych {num_recovered}")
print(f"Zmarłych {num_death}")
print(f"Aktywnych {num_active}")

Wyzdrowiałych 14
Zmarłych 19
Aktywnych 17

In [5]:
df_cases = len(df['covid_positive'])
df_recovered = len(df.loc[df['recovered'] == 1])
df_death = len(df.loc[df['death'] == 1])
df_active = df_cases - df_recovered - df_death

counts = [df_active, df_death, df_recovered, df_cases]

print(df_cases)
print(df_recovered)
print(df_death)
print(df_active)

100
14
19
67

In [6]:
df = pd.DataFrame(data)
df_inf = df.loc[df['covid_positive'] == 1]